<?xml version="1.0" encoding="utf-8"?>

<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  https://go.microsoft.com/fwlink/?LinkId=169433
-->
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="OrderToolWebservers.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
    <customErrors mode="Off"/>
    <httpRuntime targetFramework="4.0" />
  </system.web>

  <system.webServer>
    <directoryBrowse enabled="true"/>

  </system.webServer>
  
  <applicationSettings>
    <OrderToolWebservers.Properties.Settings>
      <setting name="COMPID" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="D_PWD" serializeAs="String">
        <value />
      </setting>
      <setting name="D_DEPT" serializeAs="String">
        <value />
      </setting>
      <setting name="D_USER" serializeAs="String">
        <value />
      </setting>
      <setting name="PRICE_TMP_URL" serializeAs="String">
        <value>http://10.20.1.233:9100/template/price_inpt.xlsx</value>
      </setting>
      <setting name="LOWPRICE_TMP_URL" serializeAs="String">
        <value>http://10.20.1.233:9100/template/lowprice_inpt.xlsx</value>
      </setting>
      <setting name="WAREDICT_SUB_TMP_URL" serializeAs="String">
        <value>http://10.20.1.233:9100/template/waredict_sub_inpt.xlsx</value>
      </setting>
      <setting name="OWNERID" serializeAs="String">
        <value>13</value>
      </setting>
      <setting name="PriceManager_WebReference_WebService" serializeAs="String">
        <value>http://10.20.1.233:1001/WebService.asmx</value>
      </setting>
    </OrderToolWebservers.Properties.Settings>
  </applicationSettings>
</configuration>
